# Standard .gitignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

# _targets backup
_targets_old.R

# Do not upload _targets meta
_targets.R
_targets/objects/
_targets/meta/

# Do not upload sensitive data
.vault/.credentials
.vault/data_encrypted*
.vault/*/

# Do not upload dev
dev/

# Do not upload output files
outputs/
*.html
#*.zip

# Manual correction
tests/manual_correction

# All data except 999/999.zip
data/
!data/999/999.zip

renv/cache/
renv/lib/
Dockerfile
_targets/
# Uncomment if don't want to upload data and targets cache
# _targets/objects/ ## SHOULD UPLOAD 
docs
