.Rproj.user
.Rhistory
.RData
.Ruserdata
dev/

# Do not upload _targets meta
_targets/meta/

# Do not upload sensitive data
.vault/.credentials
.vault/*/

# Do not upload output files
outputs/
*.html
*.zip

# Uncomment if don't want to upload data and targets cache
# data/
# _targets/objects/ ## SHOULD UPLOAD 
