# Standard .gitignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron

# _targets backup
_targets_old.R

# Do not upload _targets meta
_targets/objects/
_targets/meta/

# Do not upload sensitive data
.vault/.credentials
.vault/*/

# Do not upload dev and data
dev/
data/*.csv

# Do not upload output files
outputs/
*.html
#*.zip

# Uncomment if don't want to upload data and targets cache
# data/
# _targets/objects/ ## SHOULD UPLOAD 
